<h4>Edit slide:</h4>

<%= form_for([@status,@slide],:url=>status_slide_path, :method => :put) do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

